<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/286b29f754.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
  <a class="navbar-brand" href="/">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/home">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">ABOUT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">CONTACT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/myBlog">MY BLOGS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/myProfile">MY PROFILE</a>
  </li>
  
  </ul>
</div>
<li class="nav" style="padding-right: 10px;">
  <a class="nav-link btn btn-sm btn-outline-primary" href="/logout">LOGOUT</a>
</li>
</div>
</nav>


  <body>
    <div class="container">
