<%- include('partials/header'); -%>



  <div class="row justify-content-center">

      <!-- Post Content Column -->
      <div class="col-lg-7">

        <!-- Title -->
        <h1 class="mt-4"><%= titleContent %></h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#"><%= postedBy %></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><%= postDate %></p>

        <hr>


        <!-- Preview Image -->
        <img  alt="Post_Img" class="img-fluid rounded" src=<%= img %> >

        <hr>

        <!-- Post Content -->
        <p class="lead"><%= bodyContent %></p>

        <hr>

        <form action="/post" method="post">
            <input type="hidden" name="id" value="<%= postId %>">
            <button name="button" class="btn btn-primary" value="edit">Edit</button>
            <button name="button" class="btn btn-primary" value="delete">Delete</button>
        </form>

        <hr>
        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form action="/comment" method="post">
              <div class="form-group">
                <textarea class="form-control" rows="3" name="comment"></textarea>
                <input type="hidden" name="postId" value="<%= postId %>">
                <input type="hidden" name="userId" value="<%= creatorId %>">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <div class="media-body">
            <% comments.forEach(function(comment) { %>
              <h5 class="mt-0"><%= comment.name %></h5>
              <%= comment.content %>
              <hr>
            <% }) %>
          </div>

        </div>

        <!-- Comment with nested comments -->

      </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        
        <!-- Search Widget -->
        
        <!-- Profile Widget -->


            <!-- <div class="card-1">
              <div class="top">
                <h2 class="name">Profile Name</h2>
                <img class="circle-img" src="https://blackhistorywall.files.wordpress.com/2010/02/picture-device-independent-bitmap-119.jpg" alt="avatar_img" />
              </div>
              <div class="bottom">
                <p class="info">Email</p>
                <p class="info">Contact</p>
              </div>
            </div> -->



        <!-- Share Widget -->
        <!-- <div class="card my-4 card-2">
          <div class="top-2">
            <h5 class="name" >Share</h5>
          </div>
          <div class="card-body">
            <a href="www.linkdin.com"><i class="fab fa-linkedin fa-2x icon"></i></a>
            <a href="www.gmail.com"> <i class="fas fa-envelope fa-2x icon"></i></a>
            <a href="www.whatsapp.com"><i class="fab fa-whatsapp fa-2x icon"></i></a>
          </div>
        </div> -->



      </div>

    </div>
    <!-- /.row -->


<%- include('partials/footer'); -%>
