<%- include('partials/header'); -%>

<div class="container">
    <div class="main-body">
    <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center align-items-center" style="width: 18rem;">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="card-body">
                      <h5 class="card-title"><%=firstName %> <%=lastName %></h5>
                      <a href="#" class="btn btn-primary">Follow</a>
                      <a href="#" class="btn btn-outline-primary">Message</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Email: <%=email %></li>
                        <li class="list-group-item">Contact: <%=phone %></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <% posts.forEach(function(post) { %>
                    <div class="col-sm-6">
                      <div class="card">
                        <img src=<%= post.imgUrl %> class="card-img-top" alt="Post_Img">
                        <div class="card-body">
                            <h5 class="card-title"><%= post.title %></h5>
                            <p class="card-text"><%= post.content.substring(0,100) + " ..." %></p>
                            <form  action="/posts/<%= post._id %>" method="post">
                                <button class="btn btn-primary" type="submit" name="button" value="home">Read More</button>
                            </form>
                        </div>
                      </div>
                    </div>
                    <% }) %>
                  </div>
            </div>
          </div>  
          </div>
          
        </div>
    </div>


<%- include('partials/footer'); -%>
